/* START CSS VARIABLES */
:root {
    --main-color: rgb(25, 200, 250);
    --secondary-color: #a8a8a8;
    --transparent-color: rgba(25, 201, 250, 0.651);
    --section-padding: 100px;
}

/* END CSS VARIABLES */


/* START Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* END Global Rules */


/* START Components */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-size: 2em;
    font-weight: normal;
    text-transform: uppercase;
    color: #1f2021;
    letter-spacing: 2px;
    margin-bottom: 70px;
    position: relative;
}

.main-heading h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -33px;
    height: 1px;
    width: 100px;
    background-color: #1f2021;
}

.main-heading h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #1f2021;
    background-color: white;
}

.main-heading p {
    width: 500px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    font-size: 14px;
    color: var(--secondary-color);
}

/* END Components */


/* START Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 78.09px;
}

header .container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nav .mobile-menu i {
    color: white;
    font-size: 22px;
}

@media (min-width: 768px) {
    header .container nav .mobile-menu {
        display: none;
    }
}

header .container nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header .container nav ul {
        display: none;
    }

    header .container nav .mobile-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 70%);
    }

    header .container nav ul li a {
        padding: 20px !important
    }
}

header .container nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 40px 18px;
    transition: .3s;
}

@media (max-width: 991px) {
    header .container nav ul li a {
        padding: 30px 10px;
    }
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    position: relative;
    z-index: 1;
}

header .container nav .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    padding-left: 20px;
    height: 30px;
    border-left: 1px solid white;
}

@media (max-width: 991px) {
    header .container nav .search-form {
        margin-left: 20px;
        padding-left: 10px;
    }
}

header .container nav .search-form i {
    color: white;
}

/* END Header */


/* START Landing */
.landing {
    min-height: 100vh;
    background-color: #444;
    background-image: url(../images/jeremy-hynes-zLrqHNms8eE-unsplash.jpg);
    background-size: cover;
    position: relative;
}

.landing::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.landing .text {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    padding: 40px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 70%;
}

@media (max-width: 991px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 30px;
}

.landing .text .content p {
    line-height: 2;
    font-size: 14px;
}

.landing .chevrons {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: calc(100% - 60px);
    color: white;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .landing .chevrons {
        display: none;
    }
}

.landing .bullets {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.landing .bullets li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border: none;
}

/* END Landing */



/* START Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .services .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-column-gap: 60px;
        grid-row-gap: 80px;
    }
}

.services .services-content .service-box {
    display: flex;
}

.services .services-content .service-box i {
    margin-right: 60px;
}

@media (max-width: 767px) {
    .services .services-content .service-box {
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }

    .services .services-content .service-box i {
        margin: 0 0 20px;
    }
}


.services .services-content .service-box h3 {
    color: var(--main-color);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 20px;
}

.services .services-content .service-box p {
    font-size: 14px;
    color: var(--secondary-color);
    line-height: 1.8;
}

/* END Services */



/* START Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 500px;
    background-image: url(../images/rick-rothenberg-Nqx3SaMp4kQ-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.design .image,
.design .text {
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

.design .image img {
    position: relative;
    left: 100px;
    top: 80px;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

@media (max-width: 1199px) {
    .design .image img {
        left: 0;
    }
}

.design .text {
    background-color: var(--transparent-color);
    color: white;
    padding: 40px;
}

.design .text h3 {
    margin-bottom: 30px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}

.design .text ul li {
    padding: 13px 0;
    text-transform: capitalize;
}

.design .text ul li::before {
    content: "\f390";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: relative;
    margin-right: 25px;
    top: 1px;
}

/* END Design */



/* START Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.portfolio .shuffle li {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5%;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1200px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    height: 100%;
    transition: .3s .1s;
}

.portfolio .imgs-container .box:hover img {
    transform: scale(1.2);
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: white;
    padding: 20px;
    width: 100%;
    transition: .3s;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    font-size: 1.2em;
}

.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
    font-size: 0.9em;
    margin-top: 3px;
}

.portfolio>a {
    display: block;
    margin: 30px auto;
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* END Portfolio */



/* START Video */
.video {
    position: relative;
    /*Solve the height of the video to fit the height of its parent*/
    display: flex;
}

.video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: var(--transparent-color);
    color: white;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.video .text h2 {
    margin-bottom: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.video .text p {
    margin-bottom: 40px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .video .text {
        background-color: transparent;
    }

    .video .text h2 {
        display: none;
    }

    .video .text p {
        display: none;
    }
}

.video .text button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 30px;
    text-transform: uppercase;
    cursor: pointer;
}

/* END Video */